{% extends 'main.html' %}
{% block title %} Рабочий стол {% endblock %}
{% block page %}
<div class="container">
    <br/>
    <div class="d-flex justify-content-end">
        <a href="{% url 'new_analysis' %}" class="btn btn-outline-success">Добавить анализ</a></div>
    <br/>
    <table class="table table-inverse table-hover">
        <thead>
        <tr>
            <th>ID</th>
            <th data-field="name" data-sortable="true">Название</th>
            <th>WS</th>
            <th>WD</th>
            <th>WD_Step</th>
            <th>WD_Start</th>
            <th>WD_Stop</th>
            <th>WS_Start</th>
            <th>WS_Stop</th>
            <th>Дата создания</th>
            <th>Дата изменения</th>
        </tr>
        </thead>
        <tbody>
        {% for analysis in analyses %}
        {% if analysis.user == user %}
        <tr>
            <td>{{ analysis.id }}</td>
            <td><a href="{% url 'details' analysis.id %}" class="btn btn-outline-success">{{ analysis.name }}</a></td>
            <td>{{ analysis.ws }}</td>
            <td>{{ analysis.wd }}</td>
            <td>{{ analysis.wd_step }}</td>
            <td>{{ analysis.wd_start }}</td>
            <td>{{ analysis.wd_stop }}</td>
            <td>{{ analysis.ws_start }}</td>
            <td>{{ analysis.ws_stop }}</td>
            <td>{{ analysis.date_create }}</td>
            <td>{{ analysis.date_modified }}</td>
        </tr>
        {% endif %}
        {% endfor %}
        </tbody>
    </table>
    <br/>
</div>

{% endblock %}
