{% extends 'main.html' %}
{% block title %} Рабочий стол {% endblock %}
{% block page %}


<div class="container">
    {% if analise != 1 %}
    <br/>
    <div class="d-flex justify-content-between">
        <div>
            <a href="{% url 'edit_analise' analise.id %}" class="btn btn-outline-success">Изменить</a>
            <a href="{% url 'delete_analise' analise.id %}" class="btn btn-outline-danger">Удалить</a>
        </div>
        <a href="{% url 'desktop' %}" class="btn btn-outline-success">Рабочий стол</a>
        <a href="{% url 'analize' analise.id %}" class="btn btn-outline-success">Выполнить расчеты</a>
    </div>
    <h4 class="d-flex justify-content-center"> Анализ {{ analise.name }} </h4>
    <br/>
    <table class="table table-inverse table-hover">
        <tbody>
        <tr>
            <th>ID:</th>
            <th>{{ analise.id }}</th>
        </tr>
        <tr>
            <th>Имя:</th>
            <th>{{ analise.name }}</th>
        </tr>
        <tr>
            <th>Автор:</th>
            <th>{{ analise.user }}</th>
        </tr>
        <tr>
            <th>WS:</th>
            <th>{{ analise.WS }}</th>
        </tr>
        <tr>
            <th>WD:</th>
            <th>{{ analise.WD }}</th>
        </tr>
        <tr>
            <th>WD_Step:</th>
            <th>{{ analise.WD_Step }}</th>
        </tr>
        <tr>
            <th>WD_Start:</th>
            <th>{{ analise.WD_Start }}</th>
        </tr>
        <tr>
            <th>WD_Stop:</th>
            <th>{{ analise.WD_Stop }}</th>
        </tr>
        <tr>
            <th>WS_Start:</th>
            <th>{{ analise.WS_Start }}</th>
        </tr>
        <tr>
            <th>WS_Stop:</th>
            <th>{{ analise.WS_Stop }}</th>
        </tr>
        <tr>
            <th>Дата создания:</th>
            <th>{{ analise.Date_Create }}</th>
        </tr>
        <tr>
            <th>Дата модификации:</th>
            <th>{{ analise.Date_Modified }}</th>
        </tr>
        <tr>
            <th>Файл:</th>
            <th>{{ analise.File_Data }}</th>
        </tr>
        </tbody>
    </table>
    {% else %}
    <h1>Анализ не найден, возможно у вас нет доступа к нему</h1>
    {% endif %}

</div>
{% endblock %}
