{% extends 'main.html' %}
{% load static %}
{% block title %} Поиск {% endblock %}
{% block page %}
<div class="container">
    <br/>
    <div class="d-flex justify-content-center">
        <h1>Поиск по запросу: "{{last_query}}"</h1></div>
    <br/>
    {% if analysis_list %}
    <table class="table table-inverse table-hover">
        <thead>
        <tr>
            <th>ID</th>
            <th data-field="name" data-sortable="true">Название</th>
            <th>WS</th>
            <th>WD</th>
            <th>WD_Step</th>
            <th>WD_Start</th>
            <th>WD_Stop</th>
            <th>WS_Start</th>
            <th>WS_Stop</th>
            <th>Дата создания</th>
            <th>Дата изменения</th>
        </tr>
        </thead>
        <tbody>
        {% for analise in analysis_list %}
         {% if analise.user == user %}
        <tr>
            <td>{{ analise.id }}</td>
            <td><a href="{% url 'details' analise.id %}" class="btn btn-outline-success">{{ analise.name }}</a></td>
            <td>{{ analise.WS }}</td>
            <td>{{ analise.WD }}</td>
            <td>{{ analise.WD_Step }}</td>
            <td>{{ analise.WD_Start }}</td>
            <td>{{ analise.WD_Stop }}</td>
            <td>{{ analise.WS_Start }}</td>
            <td>{{ analise.WS_Stop }}</td>
            <td>{{ analise.Date_Create }}</td>
            <td>{{ analise.Date_Modified }}</td>
        </tr>
        {% endif %}
        {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>Не найдено публикаций по вашему запросу<br>Попробуйте повторить запрос с другой формулировкой</p>
    {% endif %}
</div>
{% endblock %}
